<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MONTHLY REPORT</title>
  </head>
  <body>
    Hi {{name}},
    This is your monthly report.
<br><br>
    No. pages printed: {{pages}}
    <br>
    Percentile: {{percentile_rank}}
  </body>
</html>
