<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MONTHLY REPORT</title>
  </head>
  <body>
    Hi {{name}},
    This is your monthly report.
    No. pages printed: {{pages}}
  </body>
</html>
